.form1 input {
    width: 99%;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

legend {
    color: purple;
    font-weight: 500px;
}

fieldset {
    width: 48%;
}

.form2 {
    width: 52%;
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color: rgba(0, 128, 0, 0.432);
}

